## importing iris data set and practice

In [9]:

import seaborn as sns
data = sns.load_dataset('iris')

In [10]:
data

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

#### Q.1 show the first 5 rows

In [11]:
print(data.head(5))

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

#### Q.2 display row and column count

In [16]:
print(data.shape)

(150, 5)

#### Q.3 Show data types for each column

In [18]:
print(data.info('Dtype'))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB
None

#### Q.4 Use .describe() to display min, max, mean, std

In [29]:
print(data.describe())

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

#### Q.5 Report average petal length across all samples

In [35]:
print(data['petal_length'].mean())

3.7580000000000005

#### Q.6 Use .value_counts() to count each iris species

In [39]:
print(data['species'].value_counts())

species
setosa        50
versicolor    50
virginica     50
Name: count, dtype: int64

#### Q.7 Create df_setosa containing only the setosa species

In [66]:
setosa = data.sort_values('species')

#### Q.8 Compute its mean sepal_length

In [71]:
data['sepal_length'].mean()

5.843333333333334

#### Q.9 Add new column petal_area = petal_length × petal_width

In [78]:
data['petal_area'] = data['petal_length'] * data['petal_width']

In [79]:
data

,sepal_length,sepal_width,petal_length,petal_width,species,petal_area
0,5.1,3.5,1.4,0.2,setosa,0.28
1,4.9,3.0,1.4,0.2,setosa,0.28
2,4.7,3.2,1.3,0.2,setosa,0.26
3,4.6,3.1,1.5,0.2,setosa,0.30
4,5.0,3.6,1.4,0.2,setosa,0.28
...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,virginica,11.96
146,6.3,2.5,5.0,1.9,virginica,9.50
147,6.5,3.0,5.2,2.0,virginica,10.40
148,6.2,3.4,5.4,2.3,virginica,12.42
149,5.9,3.0,5.1,1.8,virginica,9.18

#### Q.10 Show top 3 samples with the largest petal_area

In [88]:
top3 = data.sort_values('petal_area', ascending=False)

In [90]:
top3.head(3)

,sepal_length,sepal_width,petal_length,petal_width,species,petal_area
118,7.7,2.6,6.9,2.3,virginica,15.87
109,7.2,3.6,6.1,2.5,virginica,15.25
100,6.3,3.3,6.0,2.5,virginica,15.00

#### Q.11 Compute average sepal_width for each species

In [107]:
data.groupby('species')['sepal_width'].mean()

species
setosa        3.428
versicolor    2.770
virginica     2.974
Name: sepal_width, dtype: float64

#### Q.12 Compute max petal_area per species

In [109]:
data.groupby('species')['petal_area'].max()

species
setosa         0.96
versicolor     8.64
virginica     15.87
Name: petal_area, dtype: float64